body{
    font-size:0px;
}
#left{
    width:550px;
    font-size:30px;
    border-style: 5px solid black;
    display: inline-block;
    vertical-align: top;
    font-family: 'Ubuntu', sans-serif;
}
#right{
    font-size:20px;
    vertical-align:center;
    padding-top:100px;
    display:none;
    font-family: 'Ubuntu', sans-serif;
    color:lightpink;
}
#Ball {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {top:0px;-webkit-animation-timing-function: ease-in;}
    50%  {top:400px;width:100px;-webkit-animation-timing-function: ease-out;}
    100% {top:0px;}
}
